body {
  background-image: url('bg.png');
  background-color: #121732 !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.makeStyles-accordion-129 {
  border-radius: 8px !important;
}
